{% extends "./base.html" %}
{% load static %}
{% block title %} Add Course {% endblock %}
{% block content %}

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .form-container {
            width: 100%;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>

    
    <div class="form-container">
        <h2>Add Course</h2>
        (<a href="{% url "add_category" %}">Add New Category</a>)
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Course</button>
            <button> <a href="/">Home</a></button>
        </form>
    </div>
{% endblock %}