{% extends "./base.html" %} {% load static %} {% block title %} Add Certificate
{% endblock %} {% block content %}
<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .form-container {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
</style>

<div class="form-container">
  <h2>Add Certificate</h2>

  <form method="post" action="{% url 'add_certificate' %}">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Add Certificate</button>
  </form>
</div>

{% endblock %}
