<!DOCTYPE html>
<html>
<head>
  <title>Course Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #767c81;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Course Name -->
    <h1>Machine Learning</h1>

    <!-- Course image -->
    <img src="img/course01.jpg" alt="Course Image">

    <!-- Course Details -->
    <h2>Course Details</h2>
    <p>The following is a free theory course on machine learning where fellow students can learn all about ML.</p>

    <!-- Course Lectures -->
    <h2>Course Lectures</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=5ZmFlxrNaN8&list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&index=1&ab_channel=NesoAcademy">Lecture 1.1 </a></li>
      <li><a href="https://www.youtube.com/watch?v=TApMNhQPaCM&list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&index=2&ab_channel=NesoAcademy">Lecture 1.2</a></li>
      <li><a href="https://www.youtube.com/watch?v=Dd3DWRpqI40&list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&index=3&ab_channel=NesoAcademy">Lecture 1.3</a></li>
      <li><a href="https://www.youtube.com/watch?v=TApMNhQPaCM&list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&index=2&ab_channel=NesoAcademy">Lecture 2.1</a></li>
      <li><a href="https://www.youtube.com/watch?v=TApMNhQPaCM&list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&index=2&ab_channel=NesoAcademy">Lecture 2.2</a></li>
      <li><a href="https://www.youtube.com/watch?v=TApMNhQPaCM&list=PLBlnK6fEyqRjT3oJxFXRgjPNzeS-LFY-q&index=2&ab_channel=NesoAcademy">Lecture 2.3</a></li>
    </ul>

    <!-- Updated Course Notes & Lectures -->
    <h2>Updated Course Notes & Lectures</h2>
    <ul>
      <li><a href="https://www.vssut.ac.in/lecture_notes/lecture1422914957.pdf">PDF 1</a></li>
      <li><a href="https://mrcet.com/downloads/digital_notes/CSE/III%20Year/COMPILER%20DESIGN%20NOTES.pdf">PDF 2</a></li>
    </ul>

    <!-- Add Course Button -->
    <button class="btn btn-primary">Add Course</button>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>